include MANIFEST.in
include COPYING
include doc/changelog
include doc/*.txt
include doc/source/conf.py
include doc/source/*.txt
include examples/*
recursive-include djvu *.py *.pxi *.pxd *.pyx
recursive-exclude djvu config.pxi
recursive-include tests *.py Makefile *.jpeg *.tex *.djvu
