include MANIFEST.in

include doc/*.txt
include doc/COPYING
include doc/changelog
include doc/api/*.rst
include doc/api/conf.py

include examples/*

recursive-include djvu *.py *.pxi *.pxd *.pyx

recursive-include tests *.py Makefile *.tex *.djvu

include private/*
