Source: python-djvulibre
Section: python
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Bugs: mailto:ubanus@users.sf.net
Build-Depends: cdbs, debhelper (>= 5), libdjvulibre-dev, python-setuptools, python-support, python-pyrex
Standards-Version: 3.7.2

Package: python-djvulibre
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Python support for the DjVu image format
